/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  color: var(--button-color);
  text-align: center;
  border: none;
  background: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--header-font-size);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}

.content__section-title {
  color: var(--button-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.text__container-text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.text__container-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text__container-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__container-link:focus {
  outline: none;
}

.text__container-link:focus-visible {
  border: 1px solid var(--text-color);
}

.content__section-about-focus {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 60px;
  margin: 0 20px;
}

.text__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text__container p:first-of-type {
  padding-bottom: 10px;
}

.content__section-about-concentration {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 20px;
}

.text__container-about-concentration-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.content__section-title-about-concentration {
  max-inline-size: 315px;
}

.text__container-title-about-concentration {
  margin-bottom: 10px;
}

.content__section-about-advices {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 80px;
  margin: 0 20px;
}

.text__container-subtitle {
  font-weight: 400;
}

.text__container-about-advices {
  display: grid;
  gap: 20px;
}

.text__container-text-about-advices {
  padding-top: 10px;
}

.gallery {
  padding-bottom: 60px;
}

.gallery-title {
  margin: 0 20px 20px 20px;
}

.gallery-container {
  margin: 0 20px;
  display: grid;
  gap: 20px;
}

.gallery-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-item:first-of-type {
  grid-column: 1 / 3;
}

.gallery-item:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.gallery-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.gallery-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery-item:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--footer-font-size);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (768px <= width < 1024px) {
  :root {
    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: var(--header-font-size);
  }

  .content__section-about-focus {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-right: 20px;
  }

  .text__container-about-concentration-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }

  .content__section-title-about-concentration {
    max-inline-size: 236px;
  }

  .content__section-about-advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 80px;
  }

  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (375px <= width < 768px) {
  :root {
    --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --footer-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0px;
    font-size: var(--header-font-size);
  }

  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .content__section-about-focus {
    margin: 0px 10px;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content__section-about-concentration {
    margin: 0 10px;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .content__section-title-about-concentration {
    min-inline-size: 355px;
  }

  .text__container-about-concentration-cards {
    display: flex;
    flex-direction: column;
  }

  .content__section-about-advices {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
  }

  .gallery {
    padding: 0 0 40px 0;
  }

  .gallery-title {
    margin: 0 10px 10px 10px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .footer {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .footer__title {
    font-size: var(--footer-font-size);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px;
  }

  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}
