/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --font: "IBM Plex mono", sans-serif;
  --font-size: 18px;
  --buttton-color: #ff0070;
  --backgroung-image: url(../images/cover-image-dark.png);
  --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
